@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    @Html.ProcessHtml(Model.Blog, Model.Blog.Address)
</address>

<address>
    <strong>Email:</strong> <a href="mailto:@Model.Blog.Email">@Model.Blog.Email</a><br />
    <strong>Phone:</strong> <a href="tel:@Model.Blog.Phone">@Model.Blog.Phone</a>
</address>
