@page "{slug?}"

@model TinyBlog.Web.Pages.PostModel
@{
    ViewData["Title"] = Model.Post.Title;
}

<div class="blog-post">
    <h2 class="blog-post-title">@Model.Post.Title</h2>
    <p class="blog-post-meta"><i class="glyphicon glyphicon-calendar"></i>&nbsp;@Model.Post.PubDate.ToString("MMMM dd, yyyy") by <a href="/">@Model.Post.Author</a></p>
    <markdown markdown="@Model.Post.Content"></markdown>
    <p class="blog-post-meta">
        <i class="glyphicon glyphicon-tag"></i>&nbsp
        @foreach (var c in Model.Categories)
        {
            <a href="/Index?c=@Uri.EscapeDataString(c.Key)">@c.Key</a>
            @:&nbsp;
        }
    </p>
</div> 