@page
@model BlogModel
@{
    ViewData["Title"] = "Manage Blog Info";
    Layout = "_LayoutAdmin";
}

<form method="post">
    <div class="blog-post">
        <h2>Blog Info</h2>
        <div class="form-group">
            <label for="title">Name</label>
            <input class="form-control" placeholder="Name" asp-for="BlogInfo.Name" id="name" />
            <span asp-validation-for="BlogInfo.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" placeholder="Title" asp-for="BlogInfo.Title" id="title" />
            <span asp-validation-for="BlogInfo.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="title">Share Url</label>
            <input class="form-control" placeholder="ShareUrl" asp-for="BlogInfo.ShareUrl" id="shareurl" />
            <span asp-validation-for="BlogInfo.ShareUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="title">Share Image Url</label>
            <input class="form-control" placeholder="ShareImageUrl" asp-for="BlogInfo.ShareImageUrl" id="shareimageurl" />
            <span asp-validation-for="BlogInfo.ShareImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" placeholder="Description" asp-for="BlogInfo.Description" id="description"></textarea>
            <span asp-validation-for="BlogInfo.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="abouttitle">About Title</label>
            <input class="form-control" placeholder="About Title" asp-for="BlogInfo.AboutTitle" id="abouttitle" />
            <span asp-validation-for="BlogInfo.AboutTitle" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="aboutdescription">About Description</label>&nbsp;<a href="javascript:void(0);" onclick="editContent('aboutdescription', 'save-content')"><span style="font-size:10pt;" class="glyphicon glyphicon-edit"></span></a>
            <textarea class="form-control" placeholder="About Description" asp-for="BlogInfo.AboutDescription" id="aboutdescription"></textarea>
            <span asp-validation-for="BlogInfo.AboutDescription" class="text-danger"></span>
            <button id="save-content" style="display:none;" class="btn btn-primary" onclick="saveContent('aboutdescription', 'save-content')" type="button">Save</button>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <textarea class="form-control" placeholder="Address" asp-for="BlogInfo.Address" id="address"></textarea>
            <span asp-validation-for="BlogInfo.Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input class="form-control" placeholder="Phone" asp-for="BlogInfo.Phone" id="phone" />
            <span asp-validation-for="BlogInfo.Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" placeholder="Email" asp-for="BlogInfo.Email" id="email" />
            <span asp-validation-for="BlogInfo.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="cdnurl">CdnUrl</label>
            <input class="form-control" placeholder="CdnUrl" asp-for="BlogInfo.CdnUrl" id="cdnrurl" />
            <span asp-validation-for="BlogInfo.CdnUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="twitter">Twitter</label>
            <input class="form-control" placeholder="Twitter" asp-for="BlogInfo.Twitter" id="twitter" />
            <span asp-validation-for="BlogInfo.Twitter" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="twitter">Twitter Name</label>
            <input class="form-control" placeholder="TwitterName" asp-for="BlogInfo.TwitterName" id="twittername" />
            <span asp-validation-for="BlogInfo.TwitterName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="facebook">Facebook</label>
            <input class="form-control" placeholder="Facebook" asp-for="BlogInfo.Facebook" id="facebook" />
            <span asp-validation-for="BlogInfo.Facebook" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="github">GitHub</label>
            <input class="form-control" placeholder="GitHub" asp-for="BlogInfo.GitHub" id="github" />
            <span asp-validation-for="BlogInfo.GitHub" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="linkedin">LinkedIn</label>
            <input class="form-control" placeholder="LinkedIn" asp-for="BlogInfo.LinkedIn" id="linkedin" />
            <span asp-validation-for="BlogInfo.LinkedIn" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function editContent(control, btn) {
            $("#" + control).summernote({ focus: true });
            $("#" + btn).show();
        }

        function saveContent(control, btn) {
            var html = $('#' + control).summernote('code');
            $('#' + control).val(html).summernote('destroy');
            $('#' + btn).hide();
        }
    </script>
}