@model TinyBlog.Web.Pages.BasePageModel
<div class="sidebar-module">
    <h4>Categories</h4>
    <ol class="list-unstyled">
        @foreach(var c in Model.Categories)
        {
            <li><a href="/Index?c=@Uri.EscapeDataString(c.Key)">@c.Key (@c.Value)</a></li>
        }
    </ol>
</div>
