@model TinyBlog.Web.Pages.BasePageModel
<footer class="blog-footer">
    <p>&copy; @DateTime.Now.Year - @Model.Blog.Name <a target="_blank" href="https://github.com/kevinkeyt/tinyblog">Powered By: @Model.Blog.Name</a></p>
</footer>
