
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" asp-page="/Index">Home</a>
            <a class="blog-nav-item" asp-page="/About">About</a>
            <a class="blog-nav-item" asp-page="/Contact">Contact</a>
            <partial name="_LoginPartial" />
        </nav>
    </div>
</div>
